*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  background: #1a1a2e;
  overscroll-behavior: none;
}

#root {
  display: contents;
}
